gym==0.20.0
numpy==2.0.2
matplotlib==3.9.4
scipy==1.13.1
Cython<3.0
GitPython
typed-argument-parser
scikit-video==1.1.11
scikit-image==0.17.2
pandas==2.3.1
black==25.1.0
mdformat==0.7.22
scikit-learn==1.6.1
pin==3.7.0
gin-config==0.5.0
mujoco==2.3.7
opencv-python-headless==4.12.0.88
tabulate==0.9.0